@font-face {
	font-family: 'double_featureregular';
	src: url('./webfontkit-doublefeature/doublefeature20-webfont.woff2') format('woff2'),
		url('./webfontkit-doublefeature/doublefeature20-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

.tutorial {
	width: 600px;
	text-align: center;
	margin: auto;
}

h2 {
	color: rgb(232, 166, 53);
	font-size: 60px;
	text-align: center;
	font-family: "double_featureregular";
}

footer {
	position: fixed;
	left: 4;
	bottom: 0;
	width: 100%;
}

figure.image {
	display: flex;
	justify-content: center;
	background-color: black;
}

figure .image img {
	width: 128px;
}

.notification {
	margin-top: 20px !important;
}

.results {
	max-height: 500px;
	overflow-y: scroll;
}

.icon {
	margin-left: 15px;
}

.hero {
	margin-bottom: 20px;
}

.forms {
	display: flex;
	justify-content: space-around;
}

h1,
h4 {
	color: aliceblue !important;
}

.dropdown-item {
	display: flex;
	align-items: center;
	height: 60px;
}

.dropdown-item img {
	height: 50px;
	margin-right: 10px;
}

html,
body {
	background: rgb(34, 32, 32);
	margin: 6px;
	color: aliceblue;
}

.container {
	max-width: 1200px;
}

.panel {
	box-sizing: content-box !important;
	height: 100vh;
	width: 220px;
	position: relative;
	display: flex;
	justify-content: center;
}

.sconcePanelLast {
	position: relative;
	top: 65px;
	width: 120px;
	border-width: 74.5vh 40px 0;
	border-style: solid;
	border-color: rgb(232, 166, 53) transparent;
	-webkit-filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.8));
	filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.8));
}

.sconcePanelLast:before {
	content: "";
	position: absolute;
	height: 0;
	width: 30px;
	top: calc(-74.5vh + -30px);
	left: -40px;
	border-width: 0 85px 30px;
	border-style: solid;
	border-color: transparent transparent rgb(232, 166, 53);
}

.sconcePanelMiddle {
	position: absolute;
	top: 40px;
	width: 85px;
	border-width: 79vh 30px 0;
	border-style: solid;
	border-color: rgb(190, 0, 0) transparent;
	-webkit-filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.75));
	filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.75));
}

.sconcePanelMiddle:before {
	content: "";
	position: absolute;
	height: 0;
	width: 0;
	top: calc(-79vh + -35px);
	left: -30px;
	border-width: 0 73px 35px;
	border-style: solid;
	border-color: transparent transparent rgb(190, 0, 0);
}

.sconcePanelFront {
	position: absolute;
	width: 68px;
	height: 76vh;
	top: 40px;
	background: rgb(232, 166, 53);
	-webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.4), -3px 2px 8px rgba(0, 0, 0, 0.1) inset,
		3px 2px 8px rgba(0, 0, 0, 0.1) inset, 0px -5px 8px rgba(0, 0, 0, 0.1) inset;
	-moz-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.4), -3px 2px 8px rgba(0, 0, 0, 0.1) inset,
		3px 2px 8px rgba(0, 0, 0, 0.1) inset, 0px -5px 8px rgba(0, 0, 0, 0.1) inset;
	box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.4), -3px 2px 8px rgba(0, 0, 0, 0.1) inset,
		3px 2px 8px rgba(0, 0, 0, 0.1) inset, 0px -5px 8px rgba(0, 0, 0, 0.1) inset;
	-webkit-filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.5));
	filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.5));
}

.sconce {
	position: absolute;
	width: 60px;
	display: flex;
	flex-direction: column;
	align-items: center;
	top: 50px;
}

.light {
	position: relative;
	width: 20px;
	height: 0;
	border-left: 60px solid transparent;
	border-right: 60px solid transparent;
	border-top: 90px solid rgba(255, 215, 0, 0.15);
	top: -54px;
	-webkit-filter: drop-shadow(0px 0px 8px rgb(255, 215, 0));
	filter: drop-shadow(0px 0px 8px rgb(255, 215, 0));
}

.light:before {
	content: "";
	position: absolute;
	width: 48px;
	height: 35px;
	left: -14px;
	bottom: 0px;
	position: absolute;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	background: -webkit-radial-gradient(rgb(255, 255, 183), rgb(253, 255, 148), rgb(184, 127, 58));
	background: -moz-radial-gradient(rgb(255, 255, 183), rgb(253, 255, 148), rgb(184, 127, 58));
	background: -o-radial-gradient(rgb(255, 255, 183), rgb(253, 255, 148), rgb(184, 127, 58));
	background: radial-gradient(rgb(255, 255, 183), rgb(253, 255, 148), rgb(184, 127, 58));
	-webkit-filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.7));
	filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.7));
}

.light:after {
	content: "";
	position: absolute;
	background: -webkit-linear-gradient(rgba(211, 159, 83, 0.3), rgba(109, 73, 37, 0.6)),
		-webkit-linear-gradient(-90deg, rgb(123, 81, 33), rgb(195, 146, 77), rgb(166, 123, 68));
	background: -moz-linear-gradient(rgba(211, 159, 83, 0.3), rgba(109, 73, 37, 0.6)),
		-moz-linear-gradient(-90deg, rgb(123, 81, 33), rgb(195, 146, 77), rgb(166, 123, 68));
	background: -o-linear-gradient(rgba(211, 159, 83, 0.3), rgba(109, 73, 37, 0.6)),
		-o-linear-gradient(-90deg, rgb(123, 81, 33), rgb(195, 146, 77), rgb(166, 123, 68));
	background: linear-gradient(rgba(211, 159, 83, 0.3), rgba(109, 73, 37, 0.6)),
		linear-gradient(-90deg, rgb(123, 81, 33), rgb(195, 146, 77), rgb(166, 123, 68));
	width: 46px;
	height: 20px;
	bottom: -9px;
	right: -13px;
	border-bottom-left-radius: 50px;
	border-bottom-right-radius: 50px;
}

.stem {
	position: relative;
	background: rgb(190, 0, 0);
	width: 30px;
	height: 60px;
	top: -37px;
	-webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.2) inset,
		0px -3px 8px rgba(0, 0, 0, 0.2) inset;
	-moz-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.2) inset,
		0px -3px 8px rgba(0, 0, 0, 0.2) inset;
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.2) inset,
		0px -3px 8px rgba(0, 0, 0, 0.2) inset;
}

.stem:before {
	content: "";
	position: absolute;
	background: rgb(198, 144, 48);
	width: 5px;
	height: 135px;
	top: -10px;
	left: 13px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5), -1px 1px 1px rgba(0, 0, 0, 0.7) inset,
		1px 1px 1px rgba(0, 0, 0, 0.5) inset, 0px -1px 1px rgba(0, 0, 0, 0.3) inset;
	-moz-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5), -1px 1px 1px rgba(0, 0, 0, 0.7) inset,
		1px 1px 1px rgba(0, 0, 0, 0.5) inset, 0px -1px 1px rgba(0, 0, 0, 0.3) inset;
	box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5), -1px 1px 1px rgba(0, 0, 0, 0.7) inset,
		1px 1px 1px rgba(0, 0, 0, 0.5) inset, 0px -1px 1px rgba(0, 0, 0, 0.3) inset;
}
